tools/ps/MakiMeta/CSXS/manifest.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ExtensionManifest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Author" type="OptionalString" minOccurs="0">
					</xs:element>
				<xs:element name="Contact" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="OptionalString">
								<xs:attribute name="mailto" type="RequiredString" use="optional"></xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Legal" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="OptionalString">
								<xs:attribute name="href" type="xs:anyURI" use="optional"></xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Abstract" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="OptionalString">
								<xs:attribute name="href" type="xs:anyURI" use="optional"></xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExtensionList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Extension" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="Id" type="ID" use="required"></xs:attribute>
									<xs:attribute name="Version" type="Version" use="optional"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExecutionEnvironment">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="HostList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Host" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="Name" type="RequiredString" use="required"></xs:attribute>
												<xs:attribute name="Version" type="RangedVersion" use="required"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="LocaleList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Locale" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="Code" type="RequiredString" use="required"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RequiredRuntimeList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RequiredRuntime" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="Name" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="CSXS"/>
														</xs:restriction>
													</xs:simpleType></xs:attribute>
												<xs:attribute name="Version" type="RangedVersion" use="required"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DispatchInfoList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Extension" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DispatchInfo" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Resources" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SwfPath" type="RelativePathLoc" minOccurs="0">
																	</xs:element>
																<xs:element name="ScriptPath" minOccurs="0">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="RelativePathLoc">
																				<xs:attribute name="Engine" type="RequiredStringLoc" use="optional"></xs:attribute>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Lifecycle" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="AutoVisible" minOccurs="0">
																	<xs:simpleType>
																		<xs:union>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="true"/>
																					<xs:enumeration value="false"/>
																				</xs:restriction>
																			</xs:simpleType>
																			<xs:simpleType>
																				<xs:restriction base="LocalizableString"/>
																			</xs:simpleType>
																		</xs:union>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="StartOn" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Event" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="RequiredStringLoc"/>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="UI" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Type" minOccurs="0">
																	<xs:simpleType>
																		<xs:union>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Panel"/>
																					<xs:enumeration value="ModalDialog"/>
																					<xs:enumeration value="Modeless"/>
																					<xs:enumeration value="Tooltip"/>
																					<xs:enumeration value="Custom"/>
																				</xs:restriction>
																			</xs:simpleType>
																			<xs:simpleType>
																				<xs:restriction base="LocalizableString"/>
																			</xs:simpleType>
																		</xs:union>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Menu" minOccurs="0">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="RequiredStringLoc">
																				<xs:attribute name="Placement" type="RequiredStringLoc" use="optional"></xs:attribute>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Geometry" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Size" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Height" type="SizeLoc" minOccurs="0">
																							</xs:element>
																						<xs:element name="Width" type="SizeLoc" minOccurs="0">
																							</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="MaxSize" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Height" type="SizeLoc" minOccurs="0">
																							</xs:element>
																						<xs:element name="Width" type="SizeLoc" minOccurs="0">
																							</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="MinSize" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Height" type="SizeLoc" minOccurs="0">
																							</xs:element>
																						<xs:element name="Width" type="SizeLoc" minOccurs="0">
																							</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Icons" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Icon" minOccurs="0" maxOccurs="5">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="RelativePathLoc">
																							<xs:attribute name="Type" use="required">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:enumeration value="Normal"/>
																										<xs:enumeration value="Disabled"/>
																										<xs:enumeration value="RollOver"/>
																										<xs:enumeration value="DarkNormal"/>
																										<xs:enumeration value="DarkRollOver"/>
																									</xs:restriction>
																								</xs:simpleType></xs:attribute>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ExtensionData" minOccurs="0">
														<xs:complexType mixed="true">
															<xs:sequence>
																<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Host" type="RequiredString" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="DependencyList" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Dependency" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="Id" type="ID" use="required"></xs:attribute>
															<xs:attribute name="Version" type="InclusiveRangedVersion" use="optional"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Id" type="ID" use="required"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="3.0"/>
					</xs:restriction>
				</xs:simpleType></xs:attribute>
			<xs:attribute name="ExtensionBundleId" type="ID" use="required">com.makiengine.tools.makimeta</xs:attribute>
			<xs:attribute name="ExtensionBundleVersion" type="Version" use="required"></xs:attribute>
      		<xs:attribute name="ExtensionBundleName" type="RequiredString" use="optional"></xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ID">
		<xs:restriction base="RequiredString">
			<xs:pattern value="[A-Za-z0-9._\-]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1,9}(\.\d{1,9}(\.\d{1,9}(\.(\w|_|-)+)?)?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RangedVersion">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,9}(\.\d{1,9}(\.\d{1,9}(\.(\w|_|-)+)?)?)?)|([(\[]\d{1,9}(\.\d{1,9}(\.\d{1,9}(\.(\w|_|-)+)?)?)?,?\d{1,9}(\.\d{1,9}(\.\d{1,9}(\.(\w|_|-)+)?)?)?[)\]])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InclusiveRangedVersion">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,9}(\.\d{1,9}(\.\d{1,9}(\.(\w|_|-)+)?)?)?)|(\[\d{1,9}(\.\d{1,9}(\.\d{1,9}(\.(\w|_|-)+)?)?)?,?\d{1,9}(\.\d{1,9}(\.\d{1,9}(\.(\w|_|-)+)?)?)?\])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RelativePath">
		<xs:restriction base="xs:string">
			<xs:pattern value="\./.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RelativePathLoc">
		<xs:union memberTypes="RelativePath LocalizableString"/>
	</xs:simpleType>
	<xs:simpleType name="RequiredString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RequiredStringLoc">
		<xs:union memberTypes="RequiredString LocalizableString"/>
	</xs:simpleType>
	<xs:simpleType name="OptionalString">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OptionalStringLoc">
		<xs:union memberTypes="OptionalString LocalizableString"/>
	</xs:simpleType>
	<xs:simpleType name="LocalizableString">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:pattern value="%[^%].*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Size">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>
	<xs:simpleType name="SizeLoc">
		<xs:union memberTypes="Size LocalizableString"/>
	</xs:simpleType>
</xs:schema>
